<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="./front/style/default.css">
	<!-- JS  -->
	<!-- OTHER -->
	<title>404 Error - Ressource not found</title>
</head>
<body>
	<% include front/header.html %>
	<h1>404 Error - Ressource not found</h1>
	<% include front/footer.html %>
</body>
</html>
