//IMPORT
@import "default.scss";

@keyframes spin {
	0% { transform: rotate(0deg); }
 	100% { transform: rotate(360deg); }
}

@keyframes fadIn {
	0% { opacity: 1;}
 	50% { opacity: 0.5;}
	100% { opacity: 1;}
}

.title_trait{
	border-bottom: 2px dashed orange;
	width: 600px;
}

#loadComponet{
	margin-top:25px;
	padding: 20px;
	border-radius: 5px;
	background-color: $main-color-darkgray;
}

#boxTitle{
	display: flex;
	justify-content: space-between;

	#titleQCM{}
	#participants{button{margin-top: 5px;}}
}


#waitingBlock{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align:center;
	font-size: 18px;
	margin-top:100px;
	margin-bottom: 50px;

	#loaderText{
		margin-bottom: -50px;
		font-weight: bold;
		opacity: 1;
		animation: fadIn 4s ease-in-out 1.5s infinite;
	}

	#loader{
		animation: spin 2s ease-in-out 1.5s infinite;
		margin-left: auto;
		margin-right: auto;
		font-size: 5em;
		opacity: 0.5;

		i{color:orange;}
	}


}

#participantsTab{
	background-color: $main-color-grey;
	padding: 20px;
	border-radius: 5px;
	border:2px solid orange;
}

#blockResults{
	margin-top:20px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}

#spinnerCorrection{
	animation: spin 2s ease-in-out 1.5s infinite;
}

#nextQuestion{display:none;}

#syntheseBlock{
	text-align: center;
	canvas{margin:20px;}
	h3{font-size: 15px;}
}

.afterVerif{
	margin-left: 15px;
}
